@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  cursor: default;
}

:root {
  --dark-color: #131313;
  --light-color: #fff;
  --font-big: 1.875rem;
  --font-mid: 1.25rem;
  --font-light: 1rem;
  --fw-bold: 800;
  --fw-mid: 500;
  --fw-light: 300;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
}

img {
  width: 180px;
  height: 175px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.light1,
.light2 {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  width: 350px;
  height: 350px;
}

.light1 {
  background: radial-gradient(
    circle,
    rgba(238, 255, 41, 0.175),
    rgba(238, 255, 41, 0) 70%
  );

  top: 50%;
  left: 18%;
  z-index: 1;
}

.light2 {
  background: radial-gradient(
    circle,
    rgba(255, 79, 41, 0.175),
    rgba(255, 79, 41, 0) 70%
  );
  bottom: 50%;
  right: 18%;
  z-index: 1;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 640px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(90px);
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.1);
  padding: 1rem;
  overflow: hidden;
}

.left-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  width: 40%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: var(--font-big);
  font-weight: var(--fw-bold);
  color: var(--light-color);
  margin-top: 0.75rem;
  letter-spacing: 2px;
}
.title {
  font-size: var(--font-mid);
  font-weight: var(--fw-mid);
  color: var(--light-color);
  margin-top: 0.75rem;
}
.work-status {
  font-size: var(--font-light);
  font-weight: var(--fw-light);
  color: var(--light-color);
  margin-top: 0.75rem;
}

.right-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  width: 60%;
}

.info {
  color: var(--light-color);
  font-size: var(--font-light);
  font-weight: var(--fw-light);
  padding: 0.5rem;
}

.contact {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  margin: 0.75rem;
  text-align: center;
  color: var(--light-color);
  font-size: var(--font-light);
  font-weight: var(--fw-bold);
  background: linear-gradient(180deg, var(--dark-color) 50%, #f100bc 50%);
  background-size: 100% 200%;
  background-position: top;
  border: 2px solid #f100bc;
  cursor: pointer;
  transition: background-position 0.3s ease;
}

.contact:hover {
  background-position: bottom;
}
