@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  cursor: default;
}

:root {
  --dark-color: #131313;
  --light-color: #fff;
  --font-big: 1.875rem;
  --font-mid: 1.25rem;
  --font-light: 1rem;
  --fw-bold: 800;
  --fw-mid: 500;
  --fw-light: 300;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
}

img {
  position: relative;
  width: 180px;
  height: 175px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 5;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  border-radius: 30px;
  margin-top: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(90px);
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border: 1px solid #ffffff16;
  z-index: 4;
}

.left-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  width: 40%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name,
.title,
.work-status {
  color: var(--light-color);
  margin-top: 0.75rem;
}

.name {
  font-size: var(--font-big);
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
}
.title {
  font-size: var(--font-mid);
  font-weight: var(--fw-mid);
}
.work-status {
  font-size: var(--font-light);
  font-weight: var(--fw-light);
}

.right-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.125rem;
  width: 60%;
}

.info {
  color: var(--light-color);
  font-size: var(--font-light);
  font-weight: var(--fw-light);
  padding: 0.75rem;
}

.contact {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  color: var(--light-color);
  font-size: var(--font-light);
  font-weight: var(--fw-bold);
  background: linear-gradient(180deg, var(--dark-color) 50%, #f100bc 50%);
  background-size: 100% 200%;
  background-position: top;
  border: 2px solid #f100bc;
  cursor: pointer;
  transition: background-position 0.3s ease;
}

.contact:hover {
  background-position: bottom;
}

@media (max-width: 640px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
  }

  .left-main,
  .right-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0.125rem;
    width: auto;
    text-align: center;
  }

  .content-wrapper {
    align-items: center;
    margin-bottom: 8px;
  }

  .contact {
    margin-top: 8px;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(250px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.bulb {
  position: relative;
  width: 80px;
  height: 80px;
  background: #444;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5),
    0 0 100px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 0, 0.1);
}

.bulb::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 22.5px;
  width: 35px;
  height: 90px;
  background-color: #444;
  border-top: 20px solid #000000;
  border-radius: 8px;
  z-index: 3;
}

.bulb span:nth-child(1) {
  position: absolute;
  display: block;
  top: -16px;
  left: -4px;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(342deg);
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 0 10px #444;
  z-index: 3;
}

.bulb span:nth-child(2) {
  position: absolute;
  display: block;
  top: -16px;
  right: -4px;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(18deg);
  border-bottom-left-radius: 40px;
  box-shadow: -20px 20px 0 10px #444;
  z-index: 3;
}

.wire {
  position: absolute;
  width: 4px;
  height: 400px;
  background: #000;
  left: calc(50% - 2px);
  bottom: 50%;
  z-index: 2;
}

/* .lightx{
  background: radial-gradient(
    circle,
    rgba(238, 255, 41),
    rgba(238, 255, 41) 70%
  );
  z-index: 1;
  height: 100px;
  width: 100px;
} */
